<div class="form-container">

  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Base">
      <br/>
      <mat-grid-list cols="4" rowHeight="400px">
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <div>
            <form class="default-form" [formGroup]="userForm"
                  (ngSubmit)="saveUser(userForm.value)"
                  autocomplete="off"
                  novalidate>

              <mat-form-field class="full-width">
                <input matInput placeholder="UUID" disabled value="{{user.uuid}}">
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="Enter your First name" formControlName="firstName" required>
                <mat-error *ngIf="userForm.controls.firstName.invalid">First name is invalid</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="Enter your Last name" formControlName="lastName" required>
                <mat-error *ngIf="userForm.controls.lastName.invalid">First name is invalid</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="Enter your patronymic" formControlName="patronymic" required>
                <mat-error *ngIf="userForm.controls.patronymic.invalid">First name is invalid</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="Enter your Email address" formControlName="email" required>
                <mat-error *ngIf="userForm.controls.email.invalid">First name is invalid</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country">
                  <mat-option
                    *ngFor="let country of countries"
                    [value]="country.iso2">{{country.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button [disabled]="userForm.invalid" type="submit" mat-button>Submit</button>
              <button type="reset" (click)="cancelEdit()" mat-button>Cancel</button>
            </form>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <div>
            <div>
              <img style="width: 128px; height: 128px" src="{{user.avatarUrl}}"/>
              <button mat-icon-button="remove"></button>
            </div>
            <div>
              <div>ID: {{user.id}}</div>
              <div>Created at: {{user.createdAt | date:'MMMM d, y, h:mm:ss a z'}} </div>
              <div>Updated at: {{user.updatedAt | date:'MMMM d, y, h:mm:ss a z'}} </div>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Security">
      Security
    </mat-tab>
    <mat-tab label="Logs">
      Logs
    </mat-tab>
  </mat-tab-group>


</div>
