<div>
  <mat-toolbar>Edit user</mat-toolbar>
  <mat-spinner class="spinner" mode="indeterminate" *ngIf="loading"></mat-spinner>
  <app-user-form (saveHandler)="saveHandler($event)" [user]="user" *ngIf="!loading"></app-user-form>
</div>
