<mat-form-field class="date-time-piker">
  <input matInput
         [formControl]="value"
         (dateChange)="doFilter($event.target.value)"
         [matDatepicker]="picker" placeholder="{{placeholder}}">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="resetFilter()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
