<mat-form-field [ngStyle]="style" class="filter-text">
  <input matInput type="text"
         [formControl]="value"
         (keyup)="doFilter($event.target.value)"
         placeholder="{{placeholder}}">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="resetFilter()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
