<mat-sidenav-container fullscreen class="sidenav-container mat-typography">
  <mat-sidenav position="start"  #drawer class="app-sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Dashboard</a>
      <a mat-list-item routerLink="/users">Users</a>
      <a mat-list-item routerLink="/clients">Clients</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
