<div>
  <mat-toolbar>Users</mat-toolbar>
  <mat-spinner *ngIf="loading" class="spinner" mode="indeterminate" ></mat-spinner>

  <div [hidden]="loading" >

    <table mat-table
           matSort (matSortChange)="tableSort($event)"
           [dataSource]="dataSource" class="mat-elevation-z8 data-table">

      <ng-container matColumnDef="id" >
        <th class="id-column" mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="id-filter">
        <th class="id-column" mat-header-cell *matHeaderCellDef>
          <app-filter-text [style]="{ width: '45px'}" [filterKey]="'id'" [placeholder]="'id'"  (eventEmitter)="updateDataWithTimeout($event)"></app-filter-text>
        </th>
      </ng-container>

      <ng-container matColumnDef="email" >
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element">
          <div class="box">
            <img class="avatar" src="{{element.avatarUrl}}" />
            <span class="email-text" style="color: #ee9a23">{{element.email}} </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="email-filter">
        <th mat-header-cell *matHeaderCellDef>
          <app-filter-text [filterKey]="'email'" [placeholder]="'Email'" (eventEmitter)="updateDataWithTimeout($event)"></app-filter-text>
        </th>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element">
          {{element.firstName}} {{element.lastName}} {{element.patronymic}}
        </td>
      </ng-container>

      <ng-container matColumnDef="name_filter">
        <th mat-header-cell *matHeaderCellDef>
          <app-filter-text [filterKey]="'name'" [placeholder]="'Name'" (eventEmitter)="updateDataWithTimeout($event)"></app-filter-text>
        </th>
      </ng-container>

      <ng-container  matColumnDef="language">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Lang</th>
        <td mat-cell *matCellDef="let element">
          {{element.language}}
        </td>
      </ng-container>

      <ng-container matColumnDef="language_filter">
        <th mat-header-cell *matHeaderCellDef>
          <app-filter-text [style]="{width: '45px'}"  [filterKey]="'language'" [placeholder]="'Lang'" (eventEmitter)="updateDataWithTimeout($event)"></app-filter-text>
        </th>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let element">
          {{element.country}}
        </td>
      </ng-container>


      <ng-container matColumnDef="country_filter">
        <th mat-header-cell *matHeaderCellDef>
          <app-filter-text [style]="{width: '45px'}"  [filterKey]="'country'" [placeholder]="'Country'" (eventEmitter)="updateDataWithTimeout($event)"></app-filter-text>
        </th>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="createdAt" >
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
      </ng-container>

      <ng-container matColumnDef="created_at_filter">
        <th mat-header-cell *matHeaderCellDef>
          <app-filter-date [filterKey]="'created[from]'" [placeholder]="'From'" (eventEmitter)="updateDataWithTimeout($event)" ></app-filter-date>
          <app-filter-date [filterKey]="'created[to]'" [placeholder]="'To'" (eventEmitter)="updateDataWithTimeout($event)" ></app-filter-date>
        </th>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="updatedAt" >
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Updated At </th>
        <td mat-cell *matCellDef="let element">
          <span> {{element.updatedAt}} </span>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="updated_at_filter" >
        <th mat-header-cell *matHeaderCellDef>
          <app-filter-date [filterKey]="'updated[from]'" [placeholder]="'From'" (eventEmitter)="updateDataWithTimeout($event)" ></app-filter-date>
          <app-filter-date [filterKey]="'updated[to]'" [placeholder]="'To'" (eventEmitter)="updateDataWithTimeout($event)" ></app-filter-date>
        </th>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions" >
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>view_list</mat-icon>
          </button>
          <mat-menu  #menu="matMenu">
            <button [routerLink]="['/users', element.id]" mat-icon-button>
                <mat-icon class="white-icon" aria-label="Details">info</mat-icon>
            </button>
            <button [routerLink]="['/users', element.id, 'edit']" mat-icon-button>
              <mat-icon class="white-icon" aria-label="Edit">edit</mat-icon>
            </button>
            <button [routerLink]="['/users', element.id]" mat-icon-button>
              <mat-icon class="white-icon" aria-label="Delete">delete</mat-icon>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id', 'email','firstName','country', 'createdAt','updatedAt', 'actions']"></tr>
      <tr mat-header-row *matHeaderRowDef="['id-filter','email-filter', 'name_filter', 'country_filter','created_at_filter','updated_at_filter']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'email','firstName', 'country','createdAt', 'updatedAt', 'actions'];"></tr>
    </table>

    <mat-paginator
      [length]="totalLength"
      [pageSize]="getPageSize()"
      [pageSizeOptions]="[20, 30, 50, 100]"
      (page)="changePage($event)"
      showFirstLastButtons>
    </mat-paginator>

  </div>

</div>

