table {
  width: 100%;
}
.data-table {
  font-size: 14px;
}
.mat-cell {
  font-size: 12px;
}
.avatar {
  width: 40px;
  border-radius: 50%;
}
.box{
  display: flex;
  align-items:center;
}
.email-text {
  padding-left: 8px;
}
.white-icon {
  color: #ff9863
}
